* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
  }
  
  .login-container {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    border:1px solid white;
    color: white;
  }

  
  h2 {
    margin-bottom: 1.5rem;
   color: wheat;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 1rem;
   color: aliceblue;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 0.8rem;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .password-container {
    position: relative;
  }
  
  .toggle-password {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
  }
  input[type="text"]:focus,
input[type="password"]:focus {
  border-color: red;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
  outline: none;
}

  .login-btn {
    padding: 0.8rem;
    background-color: red;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
  }
  
  .login-btn:hover {
   transition: 0.2s;
   
   background-color: rgb(99, 7, 7);
  }
  